// All variables belong here.
$fontCode: "Andale Mono", "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
$fontWriting: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;

$default-font-size: 16px !default;

// Screen resolutions
$XLSize: 1600px;
$LSize: 1024px;
$MSize: 784px;
$SSize: 320px;

$grey: #333;
$blue: #77b8e8;

$default-radius: 3px;
$width-base: 1024px;
