// All variables belong here.
$fontCode: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
$fontWriting: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;

$default-font-size: 16px !default;

// Screen resolutions
$XLSize: 1600px;
$LSize: 1024px;
$MSize: 784px;
$SSize: 320px;
