// Base
::-moz-selection {
  background: $blue;
  color: #111;
  text-shadow: none;
}

::selection {
  background: $blue;
  color: #111;
  text-shadow: none;
}

body {
  margin: 0;
  font-family: $font-code;
  background: url("../images/linedpaper.png");
}

h1 {
  font-family: $font-text;
}

a {
  @include border-radius($default-radius);
  display: inline-block;
  padding: 5px 8px;
  text-decoration: none;
  background: $blue;
  color: #fff;
  margin: 20px 0;
}
ul, ol {
  margin-bottom: 20px;
}
.wrap {
  margin: 0 auto;
  max-width: $width-base;
}

@import "vars";
@import "modules";
@import "mixins";



